$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);
$Red: hsl(0, 87%, 67%);
$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);
$Grayme:rgb(239,241,247);

.brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: auto 0;
  text-align: center;
  color: $VeryDarkBlue;
}

.brand:hover {
  color: $VeryDarkBlue;
  text-decoration: none;
}

// .my-margin {
//   margin: 2rem;
// }

.my-container {
  padding-right: 15px;
  padding-left: 15px;
  margin:2rem;
  width: 500px;
}

@media (min-width: 768px) {
  .my-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .my-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .my-container {
    width: 1170px;
  }
}

.container1{
  margin:2rem;
  max-width: 1000px;
}

.myfontsize{
  font-size: 1.4rem;
}

.my-nav-items {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: $GrayishViolet;
  text-align: center;
  margin: auto 0;
  a {
    color: $GrayishViolet;
    text-decoration: none;
  }
  a:hover {
    color: $VeryDarkBlue;
    text-decoration: none;
  }
}

.my-nav-items-sm {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin: auto 0;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.custom-card {
  background-color: $DarkViolet;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.divider {
  height: 1px;
  background-color: white;
  width: 80%;
}

.blue-oval {
  border-radius: 2rem;
  color: white;
  background-color: $Cyan;
  padding: 0.7rem 2rem;
  a {
    color: white;
  }
  width: fit-content;
}

.fa-bars {
  margin: auto;
  font-size: 6rem;
}

.hero-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: auto 0;
  text-align: left;
  color: $VeryDarkBlue;
}

.hero {
  margin-top: 3rem;
}

.hero-padding {
  margin: auto;
}

.hero-img{
  width: 100%;
  height: inherit;
}

.hero-sub-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 1.4rem;
  color: $GrayishViolet;
}

.pre-footer-bg {
  background-color: $DarkViolet;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  h1 {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .blue-oval {
    margin: auto;
  }
  .content {
    margin-top: 3rem;
  }
}

.footer {
  background-color: $VeryDarkViolet;
  .footer-brand {
    color: white;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .footer-brand:hover {
    text-decoration: none;
    color: white;
  }

  .list-header {
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 0;
    justify-content: center;
  }

  li {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    list-style: none;
    margin-bottom: 0.9rem;
    a {
      color: $GrayishViolet;
    }
    a:hover {
      text-decoration: none;
      color: $Cyan;
    }
  }

  img {
    // height: 2rem;
    margin: 1rem auto auto auto;

  }
}


.main-custom-outline {
  position: relative;
  padding-top: 0.01rem;
  display: block;
  width: 300px;
  // background-color: hotpink;
  .card-custom-image {
    background-color: $DarkViolet;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 1rem;
    padding: 1.5rem;
    border-radius: 3rem;
  }
  .custom-card {
    width: 333px;
    margin-top: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    background-color: white;
    .card-heading {
      h2 {
        margin-top: 3.5rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
      }
    }
    .card-description {
      p {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: $GrayishViolet;
      }
    }
  }
}

.bg-blue{
  background-color: indianred;
}

.linkListCard {
  background-color:white;
  border-radius: 0.5rem;
  width: fit-content;
  .olink {
    p {
      font-size: 1rem;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: $VeryDarkViolet;
    }
  }
  .slink {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: auto;
    color: $Cyan;
  }
  button {
    background-color: $Cyan;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 0.5rem 2rem;
    margin: auto;
    border: none;
  }

  button:hover {
    background-color: $Cyan !important;
    opacity: 0.7;
  }

  .btn-danger:focus{
    background-color: $DarkViolet !important;
    box-shadow: none !important;
    border: none !important;
  }

}

.bg-blue {
  background-color: red;
}

.mainForm {
  background-color: $DarkViolet;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  .form-control::-webkit-input-placeholder {
    color: $GrayishViolet;
  } /* WebKit, Blink, Edge */
  .form-control:-moz-placeholder {
    color:$GrayishViolet;
  } /* Mozilla Firefox 4 to 18 */
  .form-control::-moz-placeholder {
    color:$GrayishViolet;
  } /* Mozilla Firefox 19+ */
  .form-control:-ms-input-placeholder {
    color:$GrayishViolet;
  } /* Internet Explorer 10-11 */
  .form-control::-ms-input-placeholder {
    color: $GrayishViolet;
  }
  .form-control {
    padding: 1.94rem 2rem;
    font-size: 1.5rem !important;
    color: $VeryDarkViolet !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
  }
  .form-control:focus {
    border-color:$Cyan;
    border-style: solid;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $Cyan;
  }
  button {
    background-color: $Cyan;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    margin: auto;
    border: none;
  }
}

.mainBody{
  position: relative;
  padding-bottom: 2rem;
  .myform{
    z-index: 2;
    position: relative;
  }
  .sub{
    background-color: $Grayme;
    height: calc(100% - 100px);
    width: 100%;
    padding-top: 100px;
    position: absolute;
    z-index:0;
    top:100px;
  }
}

.advancedItems{
  .heading{
    text-align: center;
    h1{
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      color: $VeryDarkViolet;
      margin-top: 2rem;
    }
    p{
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      font-size: 1.1rem;
      color: $GrayishViolet;
      max-width: 700px;
      margin: 2rem auto;
      line-height: 2rem;
    }
  }
}

.brnd{
  position: relative;
  z-index: 3;
}

.bg-green{
  background-color: khaki;
}

.brnd-bg{
  position: absolute;
  z-index: 2;
  height: 4px;
  top:300px;
  width: 100%;
  background-color: indigo;
}

.feed{
  font-size: 1rem !important;
  font-family: "poppins";
  font-style: italic;
  font-weight: 500;
}

@media all and (max-width: 993px) {
  li {
    text-align: center;
  }

  .olink {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 75%);
  }

  .hero-img{
    overflow: hidden;
  }
}

body,html{
  padding: 0;
  margin: 0;
}


@media all and (min-width:1000px){
  .myform{
    // position:absolute;
    // min-width: 1200px;
    // width: 100%;
  }
}