 $Cyan: hsl(180, 66%, 49%);
 $DarkViolet: hsl(257, 27%, 26%);
 $Red: hsl(0, 87%, 67%);
 $Gray: hsl(0, 0%, 75%);
 $GrayishViolet : hsl(257, 7%, 63%);
 $VeryDarkBlue: hsl(255, 11%, 22%);
 $VeryDarkViolet: hsl(260, 8%, 14%);


.brand{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: auto 0;
  text-align: center;
  color:$VeryDarkBlue;
}

.brand:hover{
  color:$VeryDarkBlue;
  text-decoration: none;
}

.my-margin{
  margin:2rem;
}

.container{
  max-width: 1000;
  margin:2rem;
}

.my-nav-items{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color:$GrayishViolet;
  text-align: center;
  margin: auto 0;
  a{
    color:$GrayishViolet;
    text-decoration: none;
  }
  a:hover{
    color:$VeryDarkBlue;
    text-decoration: none;
  }
}

.my-nav-items-sm{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color:white;
  text-align: center;
  margin: auto 0;
  a{
    color:white;
    text-decoration: none;
  }
  a:hover{
    color:white;
    text-decoration: none;
  }
}

.custom-card{
  background-color: $DarkViolet;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.divider{
  height: 1px;
  background-color:white;
  width: 80%;
}

.blue-oval{
  border-radius: 2rem;
  color:white;
  background-color: $Cyan;
  padding: 0.7rem 2rem;
  a{
    color:white
  }
  width: fit-content;
}

.fa-bars{
  margin:auto;
  font-size: 6rem;
}

.hero-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: auto 0;
  text-align:left;
  color:$VeryDarkBlue;
}


.hero{
  margin-top: 3rem;
}

.hero-padding{
  margin:auto
}


.hero-sub-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1.4rem;
  color:$GrayishViolet;
}

.pre-footer-bg{
  background-color: $DarkViolet;
  height: 100px;
  background-repeat: no-repeat;
  background-size:cover ;
  display: block;
  h1{
    margin-top:20px ;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  .blue-oval{
    margin: auto;
  }
  .content{
    margin-top:3rem ;
  }
}

.footer{

  background-color: $VeryDarkViolet;
  .footer-brand{
    color:white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  .footer-brand:hover{
    text-decoration: none;
    color:white
  }

  .list-header{
    color:white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  ul{
    padding-left: 0;
    justify-content: center;
  }

  li{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    list-style: none;
    margin-bottom: 0.9rem;
    a{
      color:$GrayishViolet;
    }
    a:hover{
      text-decoration: none;
      color:$Cyan;
    }
  }

  img{
    // height: 2rem;
    margin: 1rem auto auto auto;
    color: green;
  }
}

@media all and (max-width:1000px){
  li{
    text-align: center;
  }
}